@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

h1 {
  text-align: center;
}

body {
  height:40vw;
  max-height: 100%;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-color: #6e111f;
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}


.input-tarefa {
  padding: 10px;
  width: 350px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: #ddd1d1;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
  transition: transform 0.3s ease;
 
}

.input-tarefa:hover {
  transform: scaleY(1.1); 
}

/* From Uiverse.io by mrhyddenn */ 
.btn-tarefa {
  width: 100px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: #ddd1d1;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  font-weight: bold;
  font-family: inherit;
  transition: transform 0.3s ease;
}

.btn-tarefa:hover {
  cursor: pointer;
  background-color:#ffffff70 ;
  transform: scale(1.1); 
}
